@using Inlmämningsuppgift2.Models.Cart
@using Inlmämningsuppgift2.Models.User
@using Inlmämningsuppgift2.Repository
@using Inlmämningsuppgift2.Services
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Cart Cart

@if (SignInManager.IsSignedIn(User))
{
    <div id="cart">
        <table class="table">
            <tbody>
                @foreach (var line in Cart.CartLines)
                {
                    if (line.Quantity > 0)
                    {
                        <tr>
                            <partial name="_CartLine" model="line" />
                        </tr>
                    }
                }
                <tr>
                    <td colspan="5">
                        <form class="mx-auto" method="post">
                            <div class="input-group mb-3">
                                <span>Total: @Cart.CalcTotal(await UserManager.GetUserAsync(User)).ToString("C")</span>
                            </div>
                            <input class="btn btn-success" type="submit" value="Checkout" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

}
