@model Order
@{
    ViewBag.BackgroundImage = "bg_3.jpg";
}
    <div class="text-center bg-dark-alpha" style="margin-top: 275px;">
        <h1 class="display-4 text-light">Thank you for your order!</h1>
        <p class="text-light">Your Order number is @Model.OrderId</p>
    </div>

