@{
    ViewBag.BackgroundImage = "3585.jpg";
}
<div class="text-center bg-dark-alpha">
    <h1 class="display-4 text-warning">Welcome to Tamasos</h1>
    <p class="text-light">The best pizza in town</p>
    <a asp-action="Menu" class="btn btn-outline-light text-light mb-3">View Menu</a>
</div>