@model IEnumerable<FoodItem>
@inject Cart Cart

<table class="table">
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FoodItemName</td>
            <td>@item.Description</td>
            <td>
                <form asp-controller="Cart"
                      asp-action="AddItem"
                      asp-route-foodItemId="@item.FoodItemId"
                      asp-route-quantity="@(Cart.CartLines.FirstOrDefault(l=>l.FoodItem.FoodItemId== item.FoodItemId) != null ? Cart.CartLines.FirstOrDefault(l=>l.FoodItem.FoodItemId== item.FoodItemId).Quantity+1 : 1)"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-mode="replace"
                      data-ajax-update="#cart">
                    <button type="submit"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

